html,
body {
    margin: 0;
    padding: 0;

}

.task_div {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);

}

.inner {
    display: flex;
    gap: 10px;
    margin-left: 350px;
    ;
    position: fixed;

}

.btn {
    background-color: #ef5350;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 0.9em;
    cursor: pointer;
}

.input_task {

    padding: 15px;
    border-radius: 8px;
    border: 1px solid #c8e6c9;
    font-size: 1em;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 415px
}

#add {
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    font-size: 0.9em;
    cursor: pointer;
}

.done {
    background-color: #81c784;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 0.9em;
    cursor: pointer;
}

.undo {
    background-color: #c8e6c9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 0.9em;
    cursor: pointer;
}

body {
    font-family: Inter, sans-serif;
    background: linear-gradient(135deg, #f0fdf4, #dcfce7);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    padding-top: 40px;
}

.outer-div {
    background: #fff;
    padding: 30px;
    display: inline-block;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 550px;
    height: fit-content;
}
@media (max-width: 625px) {
    .outer-div {
        padding: 20px;
        margin: 0 10px;
        width: auto;
    }

    .input_task {
        width: 90%;
        max-width: 90%;
    }

    .inner {
        margin-left: 0;
        position: static;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .task_div {
        flex-direction: column;
        align-items: flex-start;
    }
}